<h2><%= @user.name %></h2>

<h4>Active Orders </h4>
<% @active_orders.each do |order| %>
  <p>Order for event <%= link_to(order.event.title, event_order_path(order.event, order)) %>, <%= order.slices.count %> slices</p>
<% end %>

---

<h4>Previous Orders </h4>
<% @inactive_orders.each do |order| %>
  <p>Order for event <%= order.event.title %>, <%= order.slices.count %> slices</p>
<% end %>