<h1 style="text-align: center">Create an Event</h1>

<br><br>

<% if event.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%end%>
    </ul>
  </div>
<%end%>

<div class="col-sm-4 col-sm-offset-4">

  <form class="form">
  <%= form_for event do |f| %>
    <div class="form-group">
      <%= f.label :title %> <br>
      <%= f.text_field :title, class: "col-sm-12" %> <br>
    </div>
    <div class="form-group">
      <%= f.label :description %> <br>
      <%= f.text_field :description, class: "col-sm-12" %> <br>
    </div>
    <div class="form-group">
      <%= f.label :date %> <br>
      <%= f.datetime_field :date, class: "col-sm-12" %> <br>
    </div>
    <div class="form-group">
      <%= f.label :deadline %> <br>
      <%= f.datetime_field :deadline, class: "col-sm-12" %> <br>
    </div>
    <%= f.submit %>
  <% end %>
  </form>

</div>
