<div class="container">
  <div class="col-sm-8 col-sm-offset-2">

    <h1 class="text-center heading">Upcoming Events</h1>
    <ul class="list-group">
      <% @active_events.each do |event| %>
        <%= link_to event_path(event), class: "list-group-item list-format" do  %>
        <div class="row">
          <div class="col-xs-2">
            <h4 class="text-center"><%= event.date.strftime("%b %e") %></h4>
            <p class="text-center"><%= event.date.strftime("%l:%M %P") %></p>

          </div>
          <div class="col-xs-8">
            <h4><%= event.title %></h4>
            <p class="list-group-item-text"><%= event.description%></p>
          </div>
          <div class="col-xs-2">
            <p class="text-right prominent-number"><%= event.users.count %></p>
            <p class="text-right"><small>people</small></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <center>
              <%= button_to "Edit Event", edit_event_path(event), {class:"btn btn-xs btn-info"} if event.president.user === current_user %>
            </center>
          </div>
        </div>
        <%end%>
      <%end%>
    </ul>

    <h2 class="text-center">Past Events</h2>
    <ul class="list-group">
      <% @inactive_events.each do |event| %>
        <%= link_to event_path(event), class: "list-group-item list-format" do  %>
        <div class="row">
          <div class="col-xs-2">
            <h4 class="text-center"><%= event.date.strftime("%b %e") %></h4>
            <p class="text-center"><%= event.date.strftime("%l:%M %P") %></p>
          </div>
          <div class="col-xs-8">
            <h4><%= event.title%></h4>
            <p class="list-group-item-text">  <%= event.description%></p>
          </div>
          <div class="col-xs-2">
            <p class="text-right prominent-number"><%= event.users.count %></p>
            <p class="text-right"><small>people</small></p>
          </div>
        </div>
        <%end%>
      <%end%>
      <% if @inactive_events.empty? %>
        <ul class="list-group">
          <li class="list-group-item list-format"><h5 class="text-center"><em>You have no previous events</em></h5></li>
        </ul>
      <% end %>
    </ul>

    <center><%= link_to "Create An Event", new_event_path, {class:"btn btn-lg btn-primary"} %></center>

  </div>

</div>
