<h1><%= @event.title %></h1>
<p>Organizer: <%=@event.president.user.name%>, <%=@event.president.user.email%></p>


<ul>
  <li>Description: <%= @event.description %></li>
  <li>Time of Event: <%= @event.date.strftime("%A, %B %e, %Y at %l:%M %P") %></li>
  <li>Deadline: <%= @event.deadline.strftime("%A, %B %e, %Y at %l:%M %P") %></li>
  <li>Time Until Deadline: <%= @event.time_left %></li>
</ul>

<h3>Total Pizzas:</h3>
  <p>
    <%= @event.slices.count %> Slices, approximately
    <%= @event.slices.count/8 %> Zas
  </p>

<h3>Participants</h3>
  <ul class="list-group-item">

 <% @orders.each do |order| %>
 <li class="list-group-item">  <%= link_to order.user.name, user_path(order.user) %>, <%=order.slices.count %></li>
  <%end%>
</ul>


<%= link_to "Add Order", input_num_slices_path(@event), {class:"btn btn-xs btn-primary"}%>

<%= link_to "Edit Event", edit_event_path(@event),{class:"btn btn-xs btn-primary"} if @event.president.user == current_user%>
