<!DOCTYPE html>
<html>
<head>
  <title>PizzaSquadApp</title>
  <link href='https://fonts.googleapis.com/css?family=Patua+One|Lobster|Sansita+One|Oldenburg' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%root_path%>" %><span class="pizza-squad">Pizza Squad</span></a>
      </div>
     <ul class="nav navbar-nav">
       <li><%= link_to "Home", root_path %></li>
       <li><%= link_to "Events", events_path %></li>
       <li><%= link_to "My Orders", user_path(current_user) if current_user %></li>
       <li><%= link_to "Analytics", analytics_path %></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
         <% if user_signed_in? %>
           <li><%= link_to "#{current_user.name.split.first}", user_path(current_user) %></li>
           <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
         <% else %>
           <li><a <%= link_to "Log In", new_user_session_path %></a></li>
           <li><a <%= link_to "Sign Up", new_user_registration_path %></a></li>
         <% end %>
     </ul>
    </div>
  </nav>

  <% if flash.present? %>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice] if flash[:notice] %>
      <%= flash[:alert] if flash[:alert] %>
    </div>
  <% end %>

    <%= yield %>

</body>

<div class="footer">
  <div class="container-fluid">
    <p class="footer-block text-center">Contact Us: <em><a href="mailto:za@pizzasquad.com">za@pizzasquad.com</a></em></p>
  </div>
</div>

</html>
