<!DOCTYPE html>
<html>
<head>
  <title>PizzaSquadApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" <%= link_to "Home", root_path %></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
         <li><%= link_to "Upcoming Events", events_path %></li>
         <li><%= link_to "My Orders", user_path(current_user) if current_user %></li>
         <li><%= link_to "Analytics", analytics_path %></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
           <% if user_signed_in? %>
             <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
           <% else %>
             <li><a <%= link_to "Log In", new_user_session_path %></a></li>
           <% end %>
       </ul>
     </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <br>
    <div style = "float: right;">
      <% if user_signed_in? %>
        Hello, <%= current_user.email %>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">

    <%= flash[:notice] if flash[:notice] %>
    <%= flash[:alert] if flash[:alert] %>

    <%= yield %>

  </div>

  <div>
  </div>

  <footer>
    <p>Contact information: <a href="za.pizzasquad.com">
      za.pizzasquad.com</a></p>
  </footer>

</body>
</html>
